<h1>Player 1 name is <%=@game.player_1.name%> Player 2 name is <%=@game.player_2.name%></h1>

<h2><%=@game.player_1.name%> HP = <%=@game.player_1.health%></h2>
<h2><%=@game.player_2.name%> HP = <%=@game.player_2.health%></h2>

<form action='/attack'>
<button>Attack player</button>
</form>