<h1>Player 1 name is <%=@player_1.name%> Player 2 name is <%=@player_2.name%></h1>

<h2><%=@player_1.name%> HP = <%=@player_1.health%></h2>
<h2><%=@player_2.name%> HP = <%=@player_2.health%></h2>

<form action='/attack'>
<button>Attack player</button>
</form>